body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #EBEBEB;
    font-size: 13px;
}

/*Configuración parte izquirda del header*/

nav .menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 0 64px;
    background: #fff;    
}

.izquierda, .derecha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;   
}

.izquierda{
    padding-left: 48px;
    display: flex;
    gap: 8px;
}

.logo img{
    font-size: 40px;
    cursor: pointer;
}

nav .izquierda .input{
    background: #eef3f8;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6.5px;
}

nav .izquierda .input input{
    outline: none;
    width: 240px;
    border: none;
    background: transparent;
}

nav .izquierda .input input:focus{
    width: 400px;
    transition-duration: 0.3s;
}

nav .izquierda .input input::placeholder{
    font-size: 14px;
    color: #283131;
    font-weight: 100;
}

nav .izquierda .input{
    font-size: 14px;    
    color: grey;
}

/*Configuración parte derecha del header*/

nav .derecha .inicio,
nav .derecha .mi-red,
nav .derecha .empleos,
nav .derecha .mensajes,
nav .derecha .notificaciones,
nav .derecha .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    white-space: nowrap;
}

nav .derecha .inicio img,
nav .derecha .mi-red img,
nav .derecha .empleos img,
nav .derecha .mensajes img,
nav .derecha .notificaciones img,
nav .derecha .productos .img-productor{
    font-size: 24px;       
}

nav .derecha .usuario .foto-perfil{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 15px;        
}

nav .derecha .usuario h6,
nav .derecha .productos h6{
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .derecha .usuario .flecha-abajo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav .derecha .arreglo-de-flecha{
    display: flex;
}

nav .derecha .productos .img-productor{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .derecha .productos .flecha-abajo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;      
}

nav .derecha a{
    color: #915907;
    font-size: 12px;
}

/*Configuración Barra izquierda*/

.container{
    display: grid;
    grid-template-columns: 225px 580px 300px;
    gap: 32px;
    width: 1169px;
    margin: 32px auto;
}

.barra-izquierda .izq-arriba{
    background: #fff;
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 12px; 
    overflow: hidden;
}

.barra-izquierda .izq-arriba .foto-portada{
    width: 100%;
    height: 60px;
    position: absolute;
}

.barra-izquierda .izq-arriba .foto-perfil-barra{
    position: relative;
    left: 50%;
    transform:translate(-50%);
    top: 3%;
    border-radius: 50px;
    width: 64px;
    height: 64px;
    border: 2px solid white;    
}

.barra-izquierda .izq-arriba .perfil{
    position: relative;
    text-align: center;
    top: 5%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #B9B9B9;
    height: 60px;
}

.barra-izquierda .izq-arriba .perfil a{
    text-decoration: none;
    color: black;
}

.barra-izquierda .izq-arriba .perfil a:hover{
    text-decoration: underline blueviolet;
}

.barra-izquierda .izq-arriba .perfil small{
    font-size: 11px;
    color: gray;
}

.barra-izquierda .izq-arriba .barra-contactos{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px 8px 16px 8px;     
    top: 6%;
    cursor: pointer;
    border-bottom: 1px solid #B9B9B9
}

.barra-izquierda .izq-arriba .barra-contactos:hover{
    background: rgba(0, 0, 0, 0.1); 
}

.barra-izquierda .izq-arriba .barra-contactos .contactos .numero-de-contactos{
    color: #0a66c2;    
}

.barra-izquierda .izq-arriba .barra-contactos .contactos a{
    text-decoration: none;
    color: black;
}

.barra-izquierda .izq-arriba .barra-contactos .contactos{
    display: flex;    
    align-items: center;
    justify-content: space-between;  
}

.barra-izquierda .izq-arriba .premium{
    position: relative;
    top: 7%;    
    border-bottom: 1px solid #B9B9B9;
    padding-bottom: 8px;
}

.barra-izquierda .izq-arriba .premium:hover{
    background: rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.barra-izquierda .izq-arriba .premium h6{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 16px;
    color: rgba(0,0,0,0.6);
    font-weight: 100;
    font-size: 11px;
}

.barra-izquierda .izq-arriba .premium img{
    gap: 8px;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    align-items: center;
    justify-content: space-between;
}

.barra-izquierda .izq-arriba .premium a{   
    align-items: center;        
    color: rgba(0,0,0,0.9);
    font-size: 11px;
}

.barra-izquierda .izq-arriba .marcapaginas{
    position: relative;
    top: 8%;    
    padding-bottom: 12px;
    padding-top: 12px;
}

.barra-izquierda .izq-arriba .marcapaginas:hover{
    background: rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.barra-izquierda .izq-arriba .marcapaginas img{
    gap: 8px;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    align-items: center;
    justify-content: space-between;
}

.barra-izquierda .izq-arriba .marcapaginas a{   
    align-items: center;   
    justify-content: space-between;     
    color: rgba(0,0,0,0.9);
    text-decoration: none;    
}

.barra-izquierda .izq-abajo{
    background: #fff; 
    width: 100%;
    height: 190px;
    margin-top: 16px;
    position: relative;
    border-radius: 12px; 
    overflow: hidden;    
}

.barra-izquierda .izq-abajo .grupos,
.barra-izquierda .izq-abajo .eventos,
.barra-izquierda .izq-abajo .hashtags{
    display: flex;
    position: relative;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;       
}

.barra-izquierda .izq-abajo .eventos{
    display: flex;         
    align-items: center;   
    justify-content: space-between;
    white-space: nowrap;
}

.barra-izquierda .izq-abajo .eventos .eventos-caja{
    display: flex;  
    width: 100%;  
    align-items: center;   
    justify-content: space-between;     
}

.barra-izquierda .izq-abajo .eventos .eventos-caja img:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor: pointer;
}

.barra-izquierda .izq-abajo .grupos a,
.barra-izquierda .izq-abajo .eventos a,
.barra-izquierda .izq-abajo .hashtags a{
    text-decoration: none;
    color: #0a66c2;
}


.barra-izquierda .izq-abajo .ver-mas{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 16px;         
    align-items: center;   
    justify-content: center;
    border-top: 1px solid #B9B9B9    
}

.barra-izquierda .izq-abajo .ver-mas:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}


.barra-izquierda .izq-abajo .ver-mas a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    font-size: 13px;
    font-weight: bolder;
}

/*Se empieza a configurar el main*/

main .crear-publicacion{
    background: #fff;
    border-radius: 12px;
    height: 130px;
}

main .crear-publicacion .post{
    display: flex;
    gap: 16px;
    padding: 16px;
}

main .crear-publicacion .post img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

main .crear-publicacion .post input{
    border-radius: 80px;
    border: 1px solid #B9B9B9;
    width: 100%;
    padding: 0 8px;
    cursor: pointer;
}

main .crear-publicacion .post input:hover{
    background-color: rgba(0,0,0,0.1);
}

main .tipos-de-publicaciones{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center; 
}

main .tipos-de-publicaciones .foto,
main .tipos-de-publicaciones .video,
main .tipos-de-publicaciones .evento,
main .tipos-de-publicaciones .articulo{
    display: flex;
    gap: 16px;
    padding: 8px;
    align-items: center;
    cursor: pointer;   
}

main .tipos-de-publicaciones .foto:hover,
main .tipos-de-publicaciones .video:hover,
main .tipos-de-publicaciones .evento:hover,
main .tipos-de-publicaciones .articulo:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}

main .post-uno{
    background: #fff;
    border-radius: 12px;
    height: 680px;
    margin-top: 16px;
}

main .post-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 8px;
}

main .post-info{
    display: flex;    
    justify-content: space-between;
}

main .post-info img{
    width: 60px;
    height: 60px;
    align-items: center;
}

main .post-top .cuerpo-post{
    margin-left: 8px; 
    margin-top: 5px;   
}

main .post-top .cuerpo-post a{    
    font-size: 14px;
    font-weight: 100;
    color: black;
    text-decoration: none;
}

main .post-top .cuerpo-post p{
    color: rgba(0,0,0,0.6);
}

main .post-uno .tres-puntos{
    padding: 5px;
}

main .post-uno .tres-puntos:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
}

main .post-uno .descripcion-post{
    margin-left: 24px;
    margin-bottom: 24px;
}

main .post-uno .img-central{
    width: 100%;    
}

main .post-uno .pie-foto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #eef3f8;
    padding: 0 8px;
    cursor: pointer;
}

main .post-uno .pie-foto .contenido-pie h5{
    margin-bottom: 8px;
}

main .post-uno .pie-foto .contenido-pie small{
    margin-top: 16px;
    color: rgba(0,0,0,0.6);
}

main .post-uno .reacciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding-left: 8px;   
}

main .post-uno .reacciones .acciones-realizadas img{
    position: relative;
    width: 16px;
    height: 16px; 
        
}

main .post-uno .reacciones .acciones-realizadas a{
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    text-decoration: none;
}

main .post-uno .reacciones .acciones-realizadas a:hover{
    text-decoration: underline;
}

main .post-uno .reacciones .estadisticas{
    display: flex;   
    padding-right: 16px;
    align-items: center;
}

main .post-uno .reacciones .estadisticas small{
    color: rgba(0,0,0,0.6);
    cursor: pointer;    
}

main .post-uno .reacciones .estadisticas small:hover{
    text-decoration: underline;
}

main .post-uno .reacciones .estadisticas img{
    width: 3px;
    height: 3px;
    padding: 3px;
}

main .post-uno .acciones{
    display: flex;
    padding: 12px;
    margin: 12px;
    border-top: 1px solid #B9B9B9;
    justify-content: space-between;
    align-items: center;
}

main .post-uno .acciones .accion-like,
main .post-uno .acciones .accion-comentar,
main .post-uno .acciones .accion-compartir,
main .post-uno .acciones .accion-enviar{
    display: flex;
    align-items: center;
    padding: 8px; 
}

main .post-uno .acciones .accion-like:hover,
main .post-uno .acciones .accion-comentar:hover,
main .post-uno .acciones .accion-compartir:hover,
main .post-uno .acciones .accion-enviar:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    border-radius: 4px;   
}


main .post-uno .acciones .accion-like img,
main .post-uno .acciones .accion-comentar img,
main .post-uno .acciones .accion-compartir img,
main .post-uno .acciones .accion-enviar img{
    padding-right: 8px;
}

.video-fedex{
    width: 100%;
}

main .post-uno .pie-foto button{
    display: flex;
    color: #0A66C2;
    border: 1px solid #0A66C2;
    border-radius: 16px;  
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 4px 8px;   
}

/*Se configura el aside*/

aside{    
    border-radius: 12px;    
}

.der-arriba{
    margin-bottom: 32px;
    background: #fff;
    border-radius: 12px;
    padding: 16px 8px;
}

aside .barra-noticias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

aside .barra-noticias h2{
    font-size: 18px;    
}

aside .barra-noticias img:hover{
    cursor: pointer;
}

aside .noticias-recientes{
    margin: 16px 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

aside .noticias-recientes:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}


aside .noticias-recientes .uno{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 15px;
}

aside .noticias-recientes .uno img{
    width: 5px;
    height: 5px;
}

aside .noticias-recientes .dos{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    color: rgba(0,0,0,0.6);
}

aside .noticias-recientes .dos img{
    width: 3px;
    height: 3px;
}

aside .mostrar-mas{
    display: flex;
    gap: 8px;    
    align-items: center;
    margin-top: 16px;
    margin-left: 32px;    
    padding: 5px;
    width: fit-content;
}

aside .mostrar-mas:hover{
    background-color: rgba(0,0,0,0.1)    
}

aside .mostrar-mas h5{
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    cursor: pointer; 
}

aside .mostrar-mas img{
    display: flex;
    width: 16px;
    height: 16px;
}

aside .der-medio{
    display: flex;
    width: 100%;
    margin-top: 24px;
    background: #fff;
    border-radius: 12px;
    height: 250px;
    flex-direction: column;
}

aside .der-medio .anuncio{
    display: flex;
    justify-content: right;
    margin-top: 8px;
    width: 100%;
    padding-right: 16px;  
    margin-bottom: 16px;  
}

aside .der-medio .anuncio small{
    display: flex;    
    padding-right: 8px;
    color: rgba(0,0,0,0.6);    
}


aside .der-medio .anuncio img{
    display: flex;
    padding-right: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;   
}

aside .der-medio .seguir{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
    color: rgba(0,0,0,0.6);     
}

aside .der-medio .imagenes-juntas{
    display: flex;
    justify-content: center;
    text-align: center;
}

aside .der-medio .imagenes-juntas img{
    padding: 0 8px;
    width: 64px;
    height: 64px;
}

aside .der-medio .imagenes-juntas .img-perfil{
    border-radius: 50%;
}

aside .der-medio .texto-compania{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
    font-size: 15px;      
}

aside .der-medio .boton-seguir{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

aside .der-medio .boton-seguir button{
    display: flex;
    color: #0A66C2;
    border: 1px solid #0A66C2;
    border-radius: 16px;  
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 4px 8px;    
}

aside .footer{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;        
    gap: 5px; 
    flex-wrap: wrap;      
}

.footer a{
    display: flex;    
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,0.6)    
}