body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #EBEBEB;
    font-size: 13px;
}

/*Configuración parte izquirda del header*/

nav .menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 0 64px;
    background: #fff;    
}

.izquierda, .derecha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;   
}

.izquierda{
    padding-left: 48px;
    display: flex;
    gap: 8px;
}

.logo img{
    font-size: 40px;
}

nav .izquierda .input{
    background: #eef3f8;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6.5px;
}

nav .izquierda .input input{
    width: 240px;
    border: none;
    background: transparent;
}

nav .izquierda .input input::placeholder{
    font-size: 14px;
    color: #283131;
    font-weight: 100;
}

nav .izquierda .input{
    font-size: 14px;    
    color: grey;
}

/*Configuración parte derecha del header*/

nav .derecha .inicio,
nav .derecha .mi-red,
nav .derecha .empleos,
nav .derecha .mensajes,
nav .derecha .notificaciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

nav .derecha .productos{
    display: flex;
    flex-wrap: wrap;
}

nav .derecha .inicio img,
nav .derecha .mi-red img,
nav .derecha .empleos img,
nav .derecha .mensajes img,
nav .derecha .notificaciones img,
nav .derecha .productos .img-productor{
    font-size: 24px;    
}

nav .derecha .usuario .foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;        
}

nav .derecha .usuario h6,
nav .derecha .productos h6{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: left;
}

nav .derecha .usuario .flecha-abajo{
    display: flex;
    justify-content: center;
    align-items: right;
}

nav .derecha .productos .img-productor{
    display: flex;
    justify-content: right;
    align-items: center;
}

nav .derecha .productos .flecha-abajo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;      
}

nav .derecha a{
    color: #915907;
}


